@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL THEME */

body {
font-family: 'Plus Jakarta Sans', sans-serif;
}

/* mesh background (จากหน้า login) */
.bg-mesh {
background-color: #f6f6f8;
background-image:
radial-gradient(at 0% 0%, rgba(176,224,230,0.5) 0px, transparent 50%),
radial-gradient(at 100% 0%, rgba(255,209,220,0.5) 0px, transparent 50%);
}

/* glass card */
.glass-card {
background: rgba(255,255,255,0.8);
backdrop-filter: blur(12px);
border: 1px solid rgba(255,255,255,0.3);
}

/* dashboard card shadow */
.card-shadow {
box-shadow: 0 10px 30px -10px rgba(76,127,230,0.1);
}

/* admin soft shadow */
.soft-shadow {
box-shadow: 0 10px 25px -5px rgba(76,127,230,0.1);
}

html, body, #app {
  height: 100%;
}
body {
  margin: 0;
}